:root {
  --bg: #242424;
  --text-color-primary: rgba(255, 255, 255, 0.87);
  --color-gray-primary: #4c4c4c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

input {
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

body {
  background-color: var(--bg);
  font-family: 'Merienda', cursive, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.content {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

form {
  display: flex;
  justify-content: center;
  column-gap: 15px;
}

.main {
  position: relative;
  overflow: hidden;
}

.left {
  left: 0;
  width: 100%;
  transition: width 0.5s;
}

.left.open {
  width: 50%;
}

.right {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 550px;
  padding: 10px 14px;
  background-color: rgb(240, 244, 240);
}
